*.g00
*.lst
*.gmy
*.pkl
*.lyx~
*.pyc
*.dat

*.gdx
!.gitkeep
!gamY_src/previous_baseline.gdx

fin-data/*
!fin-data/.data-instructions.txt

user-specific-configs/*
!user-specific-configs/*template*

/model/saved
